* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: $white;
  color: $dark;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

[disabled] {
  pointer-events: none;
  opacity: 0.8;
  filter: blur(0.5px);
}
