$extra-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1280px;
$extra-large: 1400px;

@mixin extra-small-device {
  @media (max-width: $extra-small) {
    @content;
  }
}

@mixin small-device {
  @media (max-width: $small) {
    @content;
  }
}

@mixin medium-device {
  @media (max-width: $medium) {
    @content;
  }
}

@mixin large-device {
  @media (max-width: $large) {
    @content;
  }
}
