$dark: #222831;
$dark-blue: #30475e;
$gray-one: #dddddd;
$gray-two: #c6c6c6;
$gray-three: rgb(145, 145, 145);
$white: #fff;

$max-width-one: 800px;

$red: red;
$orange: orange;
$green: rgb(0, 210, 0);
$red-light: rgba(255, 0, 0, 0.188);
$orange-light: rgba(255, 165, 0, 0.188);
$green-light: rgba(0, 210, 0, 0.188);
