$dark: #5e6676;
$gray-one: #d1d5db;
$gray-two: #a2a9c0;
$gray-three: #6a7492;
$white: #fff;



$max-width-one: 800px;
$padding-one: 10px;
$red: #fca5a5;
$orange: #fb923c;
$green: #28a745;
$red-light: transparentize($red,.1);
$orange-light: transparentize($orange,.1);
$green-light: transparentize($green,.1);
